.what {
   max-width: 690px;
   margin: 0 442px 0 148px;
 }
 @media (max-width: 1024px) {
   .what {
     margin: 0 286px 0 48px;
     max-width: none;
   }
 }
 @media (max-width: 768px) {
   .what {
     margin: 0 24px;
   }
 }
 @media (max-width: 425px) {
   .what {
     margin: 0 16px;
   }
 }